# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/


# MSVC project files
#*.dll
*.obj
*.iobj
*.ipdb
*.pdb
*.ilk
*.tlog
*.lastbuildstate
*.ipch
*.db
*.opendb


# Nana
NeuzPE/temp/nana/